use flake

export GOROOT=`go env GOROOT`
export GOPATH="$HOME/personal-project/go"
export GOBIN="$GOPATH/bin"

export CGO_ENABLED=0

export GOENV="$HOME/personal-project/goenv"
export GOCACHE="$HOME/personal-project/gocache"
