rootdir="$HOME/projects/go"

use flake

export GOCACHE="$rootdir/gocache"
export GOENV="$rootdir/goenv"
export GOPATH="$rootdir/gopath"
export GOBIN="$GOPATH/bin"
export GOMODCACHE="$GOPATH/pkg/mod"
export GOROOT=`go env GOROOT`

PATH_add $GOBIN

dotenv
